//session forms

.session-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
    #form-name {
        text-transform: capitalize;
        margin: 0px;
        color: rgb(26, 31, 44);
        font-size: 28px;
        line-height: 1.3;
    }
    .session-message {
        font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
        -webkit-font-smoothing: antialiased;
        margin: 0px;
        color: rgb(61, 66, 80);
        font-size: 12px;
        font-weight: normal;
        line-height: 1.6;
    }
    form {
        height: 300px;
        width: 300px;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    label {
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        color: rgb(98, 100, 106);
    }
    input {
        width: 250px;
        height: 40px;
        padding: 8px 15px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(148, 148, 148);
        color: rgb(26, 31, 44);
        box-sizing: border-box;
    }
    button {
        background: none rgb(19, 94, 175);
        border: 1px solid rgb(19, 94, 175);
        border-radius: 0px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: inline-block;
        font: bold 12px / 38px "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
        height: 40px;
        padding: 0px 20px;
        position: relative;
        text-align: center;
        transition: background 200ms ease 0s, border 200ms ease 0s, color 200ms ease 0s;
        white-space: nowrap;
        width: 250px;
        text-decoration: none !important;
        text-transform: uppercase;
    }
    .or {
        color: #1A1F2C;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 1em;
        background: rgb(205, 205, 205);
        content: "";
        display: block;
        height: 1px;
        width: 250px;
    }
    .continue {
        -webkit-box-align: center;
        align-items: center;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        display: flex;
        font-size: 14px;
        font-weight: 400;
        -webkit-box-pack: center;
        justify-content: center;
        text-transform: none;
        border-radius: 0px;
        box-sizing: border-box;
        cursor: pointer;
        font: bold 12px / 38px "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
        height: 40px;
        padding: 0px 20px;
        position: relative;
        text-align: center;
        transition: background 200ms ease 0s, border 200ms ease 0s, color 200ms ease 0s;
        white-space: nowrap;
        width: 250px;
        text-decoration: none !important;
        color: rgb(0, 0, 0);
    }
    .errors {
        color: rgb(206, 56, 39);
        font-size: 12px;
        padding-top: 7px;
        text-align: center;
        font-family: "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
        -webkit-font-smoothing: antialiased;
        margin: 0px;
        font-weight: normal;
        line-height: 1.6;
        .error-ul {
            list-style-type: none;
            display:flex;
            justify-content: center;
        }
        .error-li {
            list-style-type: none;
            display:flex;
            justify-content: center;
            padding: 5px 10px;
        }
    }
    .demo {
        -webkit-box-align: center;
        align-items: center;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        display: flex;
        font-size: 14px;
        font-weight: 400;
        -webkit-box-pack: center;
        justify-content: center;
        text-transform: none;
        border-radius: 0px;
        box-sizing: border-box;
        cursor: pointer;
        font: bold 12px / 38px "Source Sans Pro", Helvetica, Arial, Geneva, sans-serif;
        height: 40px;
        padding: 0px 20px;
        position: relative;
        text-align: center;
        transition: background 200ms ease 0s, border 200ms ease 0s, color 200ms ease 0s;
        white-space: nowrap;
        width: 250px;
        text-decoration: none !important;
        color: rgb(0, 0, 0);    
    }
}


//navlinks
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    height: 50px;
    background: #032765;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    .identiStreet-image {
        margin-top: 12px;
        margin-left: 17px;
        width: 120px;
        height: 26px;
    }
    .nav-session-link {
        text-decoration: none;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
        background: none;
        border: 0;
        box-shadow: none;
        color: #FFF;
        cursor: pointer;
        display: inline-block;
        height: 50px;
        padding: 0 15px;
        position: relative;
        margin-top: 8px;
    }
    #nav-login:hover {
        text-decoration: underline;
    }
    #nav-signup:hover {
        text-decoration: underline;
    }


    //activity
    .activity-button {
        background: none;
        border: none;
        text-decoration: none;
    }
    #my-activity {
        text-decoration: none;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 12px;
        background: none;
        border: none;
        color: #FFF;
    }
    .activity-button:hover #my-activity {
        text-decoration: underline;
    }


    //dropdown
    .account-dropdown {
        position: relative;
        display: inline-block;
    }
    .account-dropdown-button {
        text-decoration: none;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
        background: none;
        border: 0;
        box-shadow: none;
        color: #FFF;
        cursor: pointer;
        height: 50px;
        padding: 0 15px;
    }
    .account-dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 30px;
    }
    .account-dropdown-myprofile {
        text-decoration: none;
        box-sizing: border-box;
        color: #1A1F2C;
        display: block;
        line-height: 1.3;
        position: relative;
        text-align: left;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin-top: 4px;
        width: 100%;
        background: none;
        border: none;
        padding: 10px;
    }
    .account-dropdown-logout {
        text-decoration: none;
        cursor: pointer;
        box-sizing: border-box;
        color: #1A1F2C;
        display: block;
        line-height: 1.3;
        position: relative;
        text-align: left;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 14px;
        width: 100%;
        background: none;
        border: none;
        padding: 10px;
    }
    .account-dropdown-content .account-dropdown-myprofile:hover {
        background-color: #ddd;
        text-decoration: underline;
    }
    .account-dropdown-content .account-dropdown-logout:hover {
        background-color: #ddd;
        text-decoration: underline;
    }
    .account-dropdown:hover .account-dropdown-content{
        display: block;
    }
    .account-dropdown:hover .account-dropdown-button {
        text-decoration: underline;
    }
}