//nav bar container

.nav-menu-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #E6E6E6;
    height: auto;
    position: relative;
}

//rental dropdown
.rental-dropdown {
    position: relative;
    display: inline-block;
}

.rental-dropdown-button {
    text-decoration: none;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 48px;
    font-weight: 700;
    background: none;
    border: none;
    box-shadow: none;
    color: #1A1F2C;
    cursor: pointer;
    height: 50px;
    padding: 0 15px;
}

//nav bar options
.rental-dropdown-content {
    display: none;
    // display: block;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 2000px;

    // display: flex;
    // justify-content: space-evenly;
    // flex-direction: row;
}
.areas-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px 10px 10px 15px;
}

.popular-neighborhoods-container {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 40px;
}

.feature-rental {
    width: 170px;
    height: 170px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 20px;
}

//hovers
.rental-dropdown:hover .rental-dropdown-content {
    display: flex;
    // justify-content: space-evenly;
    flex-direction: row;
}
.rental-dropdown:hover .rental-dropdown-button {
    text-decoration: underline;
}



//search
.nav-search-container {
    float: right;
    margin: 10px 0;
    width: 300px;
}

.search-form {
    margin: 0;
    position: relative;
    width: 100%;
}

.search-bar-input {
    border: 1px solid #E6E6E6;
    border-radius: 14px;
    box-sizing: border-box;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 30px;
    padding: 5px 40px 5px 18px;
    width: 100%;
}

.search-button {
    background: #FFF;
    border: 0;

    cursor: pointer;
    font-size: 16px;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 11px;
    top: 5px;
    width: 23px;
}

.search-button::before {
    content: url("/search-icon.png");
    height: 20px;
    width: 23px;
}

.search-button-space {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}