.listing-show-width-maker {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.listing-show-container {
    width: 75vw;
    padding-left: 30px;
}

.listing-show-content {
    display: flex;
}

.listing-show-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.listing-show-right {
    width: 40%;
}

//image-carousel
.show-carousel-photo {
    // width: 75%;
    // margin-bottom: 3%;
    // margin-left: 12.5%;

    width: 91%;
    margin-bottom: 3%;
    margin-left: 3.5%;
    margin-top: 2.5%;
}

.carousel-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-holders {
    width: 80%;
}

.right-arrow {
    // position: absolute;
    // top: 50%;
    // right: 3%;
    // font-size: 3rem;
    // color: #000;
    // z-index: 10;
    // cursor: pointer;
    // user-select: none;

    position: absolute;
    top: 40%;
    right: 6%;
    color: #8c8c8cad;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0 , 0.15);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    border: gray;
    font-weight: 100;
    font-size: 40px;
    background: #f5f5f5a6;
}

.left-arrow {
    // position: absolute;
    // top: 50%;
    // left: 3%;
    // font-size: 3rem;
    // color: #000;
    // z-index: 10;
    // cursor: pointer;
    // user-select: none;

    position: absolute;
    top: 40%;
    left: 4.2%;
    color: #8c8c8cad;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    border: gray;
    font-weight: 100;
    font-size: 40px;
    background: #f5f5f5a6;
}

.image {
    opacity: 0;
    transition-duration: 1s ease;
}

.image.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}



//lower left side
.show-left-bottom {
    margin-top: 20px;
    margin-bottom: 40px;
}

.listing-show-description-title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 12px;
}

.listing-show-description-body {
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.available-on {
    color: #62646A;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}

.show-availability {
    line-height: 19px;
    color: #1A1F2C;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.listing-amenity-title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 12px;
}

.highlights {
    color: #62646A;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}

.amenities-highlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.other-amenities {
    color: #62646A;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}

.amenities-other {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    line-height: 1.6;
}


//upper right side

.show-bed-bath {
    display: flex;
}

.show-bed-bath div {
    margin-right: 10px;
}

.show-short-desc {
    text-transform: capitalize;
}