// Place all the styles related to the api/listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.listing-index-width-maker {
    width: 100vw;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.index-body-container {
    display: flex;
    // width: 75vw;
    // margin-left: 2%;
    width: 73vw;
}

.listing-index-container {
    // width: 75vw;
    // padding-left: 30px;

    // overflow: scroll;
    // height: 700px;

    // display: flex;
    // width: 70%;
    width: 100%;
    padding-left: 0px;
    overflow: scroll;
    height: 700px;
    display: flex;
    min-width: 70%;
}

.listing-index-container::-webkit-scrollbar {
    display: none;
}

.map-column {
    // width: 30%;
    width: 100%;
    // min-width: 30%;
}

.listing-image {
    height: 194px;
    width: 100%;
}

.listing-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 700px;
    margin-right: 3%;
    column-gap: 20px;
    row-gap: 20px;
    min-width: 70%;
}

.listing-index-item {
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.listing-bottom {
    display: flex;
    justify-content: space-between;
}

.listing-bottom-left {
    margin-left: 12px;
}

.listing-label {
    color: #62646A;
    font-weight: 700;
    font-size: 10px;
    line-height: 22px;
    text-transform: uppercase;
}

.listing-address {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #1876DB;
}

.listing-price {
    font-size: 20px;
    font-weight: bold;
    color: #1A1F2C;
    margin-top: 3px;
    margin-bottom: 20px;
}

.lower-block {
    display: flex;
    flex-direction: column;
}

.lower-block-details {
    display: flex;
    flex-direction: row;

    // border-top: 1px solid #E6E6E6;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px;
    // border-bottom: 1px solid #E6E6E6;
    font-size: 13px;
}

.listing-beds, .listing-baths, .listing-sqft {
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-right: 1px solid #E6E6E6;
    padding-right: 10px;
}

.lower-block-agent {
    line-height: 16px;
    font-size: 12px;
    color: #62646A;
    margin-bottom: 10px;
}

.favorite-listing-button {
    color: #1876DB;
    font-size: 22px;
    height: 0px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 7px;

    position: relative;
    top: 0px;
    right: 0px;
}

.button-lifter {
    line-height: 5;
}