.listing-show-width-maker {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.listing-show-container {
    width: 75vw;
    padding-left: 30px;
}

.listing-show-content {
    display: flex;
}

.listing-show-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.listing-show-right {
    width: 40%;
}

//image-carousel
.show-carousel-photo {
    // width: 75%;
    // margin-bottom: 3%;
    // margin-left: 12.5%;

    width: 91%;
    margin-bottom: 3%;
    margin-left: 3.5%;
    margin-top: 2.5%;
}

.carousel-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-holders {
    width: 80%;
}

.right-arrow {
    // position: absolute;
    // top: 50%;
    // right: 3%;
    // font-size: 3rem;
    // color: #000;
    // z-index: 10;
    // cursor: pointer;
    // user-select: none;

    position: absolute;
    top: 40%;
    right: 6%;
    color: #8c8c8cad;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0 , 0.15);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    border: gray;
    font-weight: 100;
    font-size: 40px;
    background: #f5f5f5a6;
}

.left-arrow {
    // position: absolute;
    // top: 50%;
    // left: 3%;
    // font-size: 3rem;
    // color: #000;
    // z-index: 10;
    // cursor: pointer;
    // user-select: none;

    position: absolute;
    top: 40%;
    left: 4.2%;
    color: #8c8c8cad;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    border: gray;
    font-weight: 100;
    font-size: 40px;
    background: #f5f5f5a6;
}

.image {
    opacity: 0;
    transition-duration: 1s ease;
}

.image.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}



//lower left side
.show-left-bottom {
    margin-top: 20px;
    margin-bottom: 40px;
}

.listing-show-description-title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 12px;
}

.listing-show-description-body {
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.available-on {
    color: #62646A;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}

.show-availability {
    line-height: 19px;
    color: #1A1F2C;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.listing-amenity-title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 12px;
}

.highlights {
    color: #62646A;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}

.amenities-highlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.other-amenities {
    color: #62646A;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}

.amenities-other {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    line-height: 1.6;
}


//upper right side
.show-right-full {
    margin-bottom: 25px;
}

.address-title {
    color: #000;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
}

.show-price {
    font-size: 20px;
    font-weight: bold;
    color: #1A1F2C;
    margin-top: 3px;
    margin-bottom: 20px;
}

.show-price-text {
    color: #62646A;
    font-size: 12px;
    text-transform: uppercase;
}

.show-fee {
    background-color: #DCF6FF;
    border-radius: 100px;
    color: #1A1F2C;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin: 12px 4px 0;
    padding: 0 8px;
    text-align: center;
}

.show-bed-bath {
    display: flex;
    border-top: 1px solid #E6E6E6;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px;
    border-bottom: 1px solid #E6E6E6;
    font-size: 13px;
}

.show-bed-bath div {
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-right: 1px solid #E6E6E6;
    padding-right: 10px;
}

.show-short-desc {
    text-transform: capitalize;
    margin-top: 10px;
    color: #1876DB;
    font-size: 13px;
}

.right-feature-functions {
    display: flex;
    flex-direction: column;
}

.own-listing-right-show {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.own-listing-right-none {
    display: none;
}

#open-heart-show {
    // display: flex;
    font-size: large;
}

#open-heart-none {
    display: none;
}

#close-heart-show {
    // display: flex;
    font-size: large;
}

#close-heart-none {
    display: none;
}

.save-button {
    background: #FFF;
    border: 1px solid #CDCDCD;
    color: #1876DB;
    cursor: pointer;
    display: block;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 3px;
}

.save-none {
    display: none;
}

#save-text {
    background: #FFF;
    // border: 1px solid #CDCDCD;
    color: #1876DB;
    cursor: pointer;
    // display: block;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 3px;
}

#save-text-none {
    display: none;
}

#saved-text {
    background: #FFF;
    // border: 1px solid #CDCDCD;
    color: #1876DB;
    cursor: pointer;
    // display: block;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 3px;
}

#saved-text-none {
    display: none;
}

.request-tour {
    background: #FFF;
    border: 1px solid #CDCDCD;
    color: #1876DB;
    cursor: pointer;
    display: block;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 3;
    margin-bottom: 10px;
}

.request-tour-none {
    display: none;
}

.delete-listing {
    background: #FFF;
    border: 1px solid #CDCDCD;
    color: #1876DB;
    cursor: pointer;
    display: block;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 3;
    margin-bottom: 10px;
}

.delete-listing-none {
    display: none;
}

.update-listing {
    background: #FFF;
    border: 1px solid #CDCDCD;
    color: #1876DB;
    cursor: pointer;
    display: block;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 3;
    margin-bottom: 3px;
}

.update-listing-none {
    display: none;
}

.contact-info {
    color: #62646A;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}

.contact-info div {
    color: #1876DB;
}