.listing-form-width-maker {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.listing-form-my-profile-container {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.my-profile-in-listing-form-container {
    width: 75vw;
    max-width: 100%; 
    margin-left: 3px;
}

.big-form  {
    // width: 75vw;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    line-height: 1.3;
    font-size: 12px;
}

.big-form input, select, textarea {
    border: 1px solid #E6E6E6;
}

.form-section-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
}

.form-section-content {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: 10%;
    margin-bottom: 3%;
}

.form-section-content-amenities {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    margin-left: 10%;
    margin-bottom: 3%;
}

.photos-container {
    display: flex;
}

.photos-container-none {
    display: none;
}

.form-section-content-input {
    display: grid;
    grid-template-columns: 100px 200px;
    margin-bottom: 1%;
}

.form-correct {
    // border-color: rgb(219, 59, 41);
    // background-color: rgb(255, 243, 241);
    background-color: white;
}

.form-error {
    border-color: #db3b29;
    background-color: rgb(255, 243, 241);
}

.form-section-content-input-photo {
    display: flex;
    flex-direction: column;
}

.upload-photos {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2%;
}

.form-button-listing-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.form-button-listing {
    // width: 100px;
    margin-bottom: 10px;
}


// .form-section-content-input {
//     line-height: 1.2;
// }